.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #09d3ac;
}


 .FC1 {
  width: 20vw;
  height: 10vh; 
  font-family: 'Press Start 2P', cursive;

  
}

.FC2 {
  width: 20vw;
  height: 10vh; 
  font-family: 'Press Start 2P', cursive;

  
 /* background-color: blue; */
  
}

#attack-button-1 {
  color: red;
  background-color: black;
  margin: 3px;
}

#attack-button-2 {
  color: red;
  background-color: rgb(75, 213, 238);
  margin: 3px;

}

#restart-button {
  color: black;
  background-color: red;
  margin: 3px;
}

#intro {
  opacity: 0;
  position: absolute;
  width: 40%;
  top: 50%;
  transform: translateY(-50%);    
  text-align: center;
  margin-left: 150px;
  color: white;
  font-family: 'Press Start 2P', cursive;
  font-size: 150%;
  animation: intro 100s ease-out infinite;
  z-index: 1;
}

#FireWords {
letter-spacing: 4px;
font-family: 'Press Start 2P', cursive;
}





#logo {
  z-index: 1;
  opacity: 0;
  position: absolute;
  width: 80%;
  left: 50%;
  height: 60%;
  top: 70%;
transform: translateX(-50%) translateY(-50%); 
animation: logo 100s ease-out; 
/* background-image: url(../images/FireLogo.jpg); */
background-repeat: no-repeat;
background-size: contain;
background-position: center center; 
border-radius: 80%;
}

#titles
{
	position: absolute;
	width: 18em;
	height: 50em;
	bottom: 0;
	left: 50%;
	margin-left: -9em;
	font-size: 250%;
	font-weight: bold;
	text-align: justify;
	overflow: hidden;
	transform-origin: 50% 100%;
	transform: perspective(300px) rotateX(25deg);
}

#titles:after
{
	position: absolute;
	content: ' ';
	left: 0;
	right: 0;
	top: 0;
	bottom: 60%;
	background-image: linear-gradient(top, rgba(0,0,0,1) 0%, transparent 100%);
  pointer-events: none;
  font-family: 'Press Start 2P', cursive;
}

#titlecontent
{
  margin-left: 20px;
	position: absolute;
	top: 100%;
  animation: scroll 150s linear 4s infinite;
  animation-delay: 15s;
  color: white;
  font-family: 'Press Start 2P', cursive;
}

@keyframes scroll {
	0% { top: 100%; }
	100% { top: -170%; }
}




@keyframes intro {
  0% {
      opacity: 0;
  }
1% {
  opacity: 0;
}  
  1.5% { 
  opacity: 1; 
}
  5.5% { 
  opacity: 1; 
}
  6% { 
  opacity: 0;
} 
}

@keyframes logo {
  9% {
  transform: translateX(-50%) translateY(-50%) scale(2);
  opacity: 0; 
}
9.1% {
  opacity: 1;
}
  14% { 
  opacity: 1; 
}
  18% { 
  transform: translateX(-50%) translateY(-50%) scale(0.1);
  opacity: 0;
} 
}








@import url('https://fonts.googleapis.com/css?family=Press+Start+2P&display=swap');


@import url(https://fonts.googleapis.com/css?family=Anton&effect=fire-animation);
html {
  background: #ddd;
}

h1 {
  font-family: 'Anton', sans-serif;
  font-size: 60px;
}

.FightButton {

  background-color: black;
  height: 80px;
  width: 400px;
  font-size: 20px;
}

#FireWordsButton {
  margin-bottom: auto; 
  font-size: 20px;
  letter-spacing: 4px;
  line-height: 30px ;
  font-family: 'Press Start 2P', cursive;
  }
